.btn {
	font-family: var(--secondary-font-family);
	font-size: 1.8rem;
	padding: 2rem 10rem;
	font-weight: 700;
  color:var(--white);
}

.primary__button {
	border-radius: 5rem;
	background-image: linear-gradient(to right, var(--cyan), var(--blue));
	background-size: cover;
	background-repeat: no-repeat;
}
