.btn {
	font-family: var(--secondary-font-family);
	font-size: 1.8rem;
	display: inline-block;
	padding: 2rem 10rem;
	font-weight: 700;
	color: var(--white);
	cursor: pointer;

	&:active {
		outline: none;
	}
}

.primary__button {
	border-radius: 5rem;
	background-image: linear-gradient(to right, var(--cyan), var(--blue));
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.secondary-btn {
	color: var(--cyan);
	border-bottom: 1px solid var(--cyan);
	padding-bottom: 0.5rem;
	display: inline-flex;
	align-items: center;

	&__text {
		font-size: 1.8rem;
	}

	&__icon {
		height: 2rem;
		margin-left: .5rem;
		margin-top: .2rem;
	}
}
