.logo-box {
	height: 4.5rem;
}

.logo {
	display: block;
	height: 100%;
}

.btn {
	font-family: var(--secondary-font-family);
	font-size: 1.8rem;
	display: inline-block;
	padding: 2rem 10rem;
	font-weight: 700;
	color: var(--white);
	cursor: pointer;

	&:active {
		outline: none;
	}
}

.primary__button {
	border-radius: 5rem;
	background-image: linear-gradient(to right, var(--cyan), var(--blue));
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.secondary-btn {
	color: var(--cyan);
	border-bottom: 1px solid var(--cyan);
	padding-bottom: 0.5rem;
	display: inline-flex;
	align-items: center;

	&__text {
		font-size: 1.8rem;
	}

	&__icon {
		height: 2rem;
		margin-left: 0.5rem;
		margin-top: 0.2rem;
	}
}

.features {
	.feature {
		padding: 2rem;
		&__icon {
			margin-bottom: 1.5rem;
		}

		&__heading {
			font-family: var(--secondary-font-family);
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 1rem;
		}

		&__description {
			font-size: 1.7rem;
		}
	}
}

.testimonial {
	background-color: var(--dark-blue-3);
	padding-top: 4rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-radius: 1rem;
	box-shadow: 2px 6px 5px var(--dark-blue-2);

	&:not(:last-child) {
		margin-right: 3rem;
	}

	&__text {
		font-family: var(--secondary-font-family);
		font-size: 1.4rem;
		line-height: 1.7;
		letter-spacing: 0.12rem;
	}

	.author {
		min-width: 100%;
		display: flex;
		align-items: center;

		.avatar-box {
			height: 3.5rem;
			border-radius: 5rem;
			overflow: hidden;
			margin-right: 1rem;
		}

		&__avatar {
			display: block;
			height: 100%;
		}

		&__name {
			font-size: 1.3rem;
		}

		&__description {
			display: block;
			margin-top: -0.3rem;
		}
	}
}

@media screen and (max-width: 900px) {
	.testimonial {
		margin: 0 auto;
		margin-bottom: 5rem;

		&:not(:last-child) {
			margin-right: 0;
		}

		&__text {
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
		}
	}
}

.email-signup {
	width: 65vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	background-color: var(--dark-blue-2);
	box-shadow: 2px 6px 5px var(--dark-blue-2);
	padding: 5rem 8rem;
	border-radius: 1rem;
	margin-bottom: 20rem;
	text-align: center;
	font-family: var(--secondary-font-family);
	z-index: 100;
	transform: translateY(100%);
	margin-top: -30rem;

	&__heading {
		font-size: 4rem;
		font-weight: 550;
	}

	&__description {
		font-size: 1.7rem;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__input {
		flex-basis: 65%;
		padding: 2rem 4rem;
		border-radius: 5rem;
		caret-color: var(--dark-blue-2);

		&::-webkit-input-placeholder {
			font-family: var(--secondary-font-family);
			font-size: 1.6rem;
			color: #777;
		}

		&::selection {
			background-color: var(--dark-blue-2);
			color: #fff;
		}
	}

	&__btn {
		flex: 0 0 1;
		text-transform: capitalize;
		padding: 1.8rem 3rem;
	}
}

@media screen and (min-width: 1441px) {
	.email-signup {
		width: 50vw;
	}
}

@media screen and (max-width: 1320px) {
	.email-signup {
		padding: 5rem 4rem;
		width: 90vw;
		&__form {
			flex-direction: column;
		}

		&__input {
			width: 80%;
			margin-bottom: 2rem;
		}
	}
}

@media screen and (max-width: 375px) {
	.email-signup {
		width: 90vw;
		padding: 5rem 4rem;

		&__heading {
			font-size: 2.5rem;
		}

		&__input {
			width: 100%;
			margin-bottom: 3rem;
		}

		&__btn {
			width: 100%;
		}
	}
}
