.footer {
	background-color: var(--dark-blue-4);
	padding: 7vw;
	padding-right: 5vw;
	padding-bottom: 8vw;

	.footer-container {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-top: 14vh;
		height: 5rem;
	}

	.location {
		flex-basis: 30%;
		display: flex;
		flex-grow: 1;
		font-size: 1.6rem;
		margin-right: 6rem;
		margin-top: 2rem;

		&__icon {
			align-self: flex-start;
			margin: 1rem 2.5rem 0 0;
			height: 2rem;
		}

		&__description {
		}
	}

	.contact {
		width: 15rem;
		margin-right: 12rem;
		font-size: 1.25rem;

		&__phone {
			margin-bottom: 1.5rem;
			display: flex;
			align-items: center;

			&__icon {
				margin-right: 2rem;
			}

			.phone-number {
				margin-left: 2rem;
			}
		}
		&__email {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__icon {
			}

			&__address {
			}
		}
	}

	&__navigation {
		width: 20rem;
		margin-top: 9rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& ul {
			li {
				margin-bottom: 1.3rem;
				a {
					color: #fff;
					font-size: 1.6rem;
				}
			}
		}
	}

	.social {
		margin-top: -3rem;
		margin-left: 12rem;
		display: flex;

		&__icon {
			margin-right: 1.3rem;
			font-size: 1.6rem;
			padding: 1rem;
			background-color: var(--dark-blue-2);
			border: 1.5px solid #fff;
			border-radius: 50%;
		}
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		.location {
			flex-basis: 100%;
			margin-bottom: 2rem;
		}
	}
}

@media screen and (min-width: 1201px) {
	.footer {
		.footer-container {
			margin-top: -6rem;
		}
	}
}

@media screen and (max-width: 929px) {
	.footer {
		&__logo {
			margin-top: 23vh;
		}
		.social {
			align-self: flex-end;
			margin-top: 7rem;
		}
	}
}

@media screen and (max-width: 760px) {
	.footer {
		padding: 3rem;
		&__logo {
			height: 6rem;
			width: 6rem;
		}
		.footer-container {
			flex-basis: 100%;
			margin-top: 3rem;
		}
		&__navigation {
			flex-direction: column;

			& > * {
				margin-bottom: 5rem;
			}
		}
		.contact {
			&__phone {
				margin-bottom: 2.5rem;
			}
			.phone-number {
				margin-left: 2rem;
			}
		}
		.social {
			align-self: flex-end;
		}
	}
}

@media screen and (max-width: 375px) {
	.footer {
		&__logo {
			margin-top: 30vh;
		}
		.social {
			align-self: flex-end;

			&__icon {
				font-size: 1.8rem;
			}
		}
	}
}
