.header {
	width: 90%;
	min-width: 90%;
	margin: 5rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-box {
	height: 4.5rem;
}

.logo {
	display: block;
	height: 100%;
}

.navigation {
	width: 25rem;
	font-family: var(--secondary-font-family);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__item {
}

.navigation__link {
	letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
	.logo-box {
		height: 3rem;
	}

	.navigation {
		width: 18rem;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 374px) {
	.header {
		flex-direction: column;
		align-items: center;
	}

	.logo-box {
		margin-bottom: 2rem;
	}
}
