.testimonials {
	width: 85%;
	margin: 0 auto;
	display: flex;
	margin-top: 10rem;
	margin-bottom: 10rem;
	padding: 0 2rem;
	position: relative;

	.quote {
		position: absolute;
		top: -3.5rem;
		left: 1rem;
		z-index: -1;

		&__img {
			height: 100%;
		}
	}
}

@media screen and (max-width: 900px) {
	.testimonials {
		flex-direction: column;
		margin-top: 25rem;
		margin-bottom: -5rem;

		.quote {
			top: -5rem;
			left: 3.5rem;
		}
	}
}
