.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 4rem;
}

.mb-lg {
	margin-bottom: 6rem;
}

.mb-xl {
	margin-bottom: 8rem;
}

.mt-sm {
	margin-top: 2rem;
}

.mt-md {
	margin-top: 4rem;
}

.mt-lg {
	margin-top: 6rem;
}

.mt-xl {
	margin-top: 8rem;
}

// Padding
.pb-sm {
	padding-bottom: 2rem;
}

.pb-md {
	padding-bottom: 4rem;
}

.pb-lg {
	padding-bottom: 6rem;
}

.pb-xl {
	padding-bottom: 8rem;
}

.pt-sm {
	padding-top: 2rem;
}

.pt-md {
	padding-top: 4rem;
}

.pt-lg {
	padding-top: 6rem;
}

.pt-xl {
	padding-top: 8rem;
}

.margin-vertical-sm {
	margin: 2rem 0;
}

.margin-vertical-md {
	margin: 4rem 0;
}

.margin-vertical-lg {
	margin: 6rem 0;
}

.margin-vertical-xl {
	margin: 8rem 0;
}

.margin-horizontal-sm {
	margin: 0 2rem;
}

.margin-horizontal-md {
	margin: 0 4rem;
}

.margin-horizontal-lg {
	margin: 0 6rem;
}

.margin-horizontal-xl {
	margin: 0 8rem;
}

// Padding
.padding-vertical-sm {
	padding: 2rem 0;
}

.padding-vertical-md {
	padding: 4rem 0;
}

.padding-vertical-lg {
	padding: 6rem 0;
}

.padding-vertical-xl {
	padding: 8rem 0;
}

.padding-horizontal-sm {
	padding: 0 2rem;
}

.padding-horizontal-md {
	padding: 0 4rem;
}

.padding-horizontal-lg {
	padding: 0 6rem;
}

.padding-horizontal-xl {
	padding: 0 8rem;
}
